/**
 * Button
 */
.site .button,
input[type='submit'],
input[type='reset'],
.wp-block-search__button,
.wp-block-button .wp-block-button__link {
	color: var(--button--color-text);
	cursor: pointer;
	background-color: var(--button--color-background);
	-webkit-border-radius: var(--button--border-radius);
	-moz-border-radius: var(--button--border-radius);
	border-radius: var(--button--border-radius);
	text-align: center;
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);
	font-weight: var(--font-weight-strong);
	font-size: 0.9em;
	text-transform: lowercase;
	text-decoration: none;
}

.site .button:not(.has-background),
input[type='submit']:not(.has-background),
input[type='reset']:not(.has-background),
.wp-block-search__button:not(.has-background),
.wp-block-button .wp-block-button__link:not(.has-background) {
	color: var(--button--color-text);
	background-color: var(--button--color-background);
}

.site .button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
.wp-block-search__button:focus,
.wp-block-button .wp-block-button__link:focus {
	background: transparent;
	outline-offset: -6px;
	outline: 2px dotted currentColor;
}

.site .button:focus:not(.has-background),
input[type='submit']:focus:not(.has-background),
input[type='reset']:focus:not(.has-background),
.wp-block-search__button:focus:not(.has-background),
.wp-block-button .wp-block-button__link:focus:not(.has-background) {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background) !important;
}

.site .button:active,
input[type='submit']:active,
input[type='reset']:active,
.wp-block-search .wp-block-search__button:active,
.wp-block-file .wp-block-file__button:active {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
}

.site .button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
.wp-block-search .wp-block-search__button:hover,
.wp-block-file .wp-block-file__button:hover {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
}

/**
 * Block Options
 */
.wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
	border-color: var(--button--color-background-hover);
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
	border-color: var(--button--color-background);
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:focus {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) {
	background: transparent;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):not(.has-text-color) {
	background: transparent;
	color: var(--button--color-background);
	border-color: var(--button--color-background);
}

.wp-block-button.is-style-outline .wp-block-button__link.has-background:not(.has-text-color) {
	color: currentColor;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-background.has-gray-background-color:not(.has-text-color), .wp-block-button.is-style-outline .wp-block-button__link.has-background.has-dark-gray-background-color:not(.has-text-color), .wp-block-button.is-style-outline .wp-block-button__link.has-background.has-black-background-color:not(.has-text-color) {
	color: white;
}

.is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background {
	color: var(--global--color-dark-gray);
}

.is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-gray-background-color, .is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-dark-gray-background-color, .is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-black-background-color {
	color: white;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-text-color, .wp-block-button.is-style-outline .wp-block-button__link.has-background.has-text-color {
	border-color: currentColor;
}

.wp-block-button.is-style-outline .wp-block-button__link:active, .wp-block-button.is-style-outline .wp-block-button__link:hover {
	color: var(--button--color-text) !important;
	background: var(--button--color-background) !important;
	border-color: var(--button--color-background);
}

.wp-block-button.is-style-outline .wp-block-button__link:active.has-text-color, .wp-block-button.is-style-outline .wp-block-button__link:hover.has-text-color {
	border-color: var(--button--color-background);
}

.wp-block-button.is-style-outline .wp-block-button__link:focus {
	color: var(--button--color-background) !important;
	background: transparent !important;
}

.wp-block-button.is-style-button-highlight .wp-block-button__link:not(.has-background) {
	color: var(--button--hightlight--color-text);
	background-color: var(--button--hightlight--color-background);
}

.wp-block-button.is-style-button-highlight .wp-block-button__link:not(.has-background):active {
	color: var(--button--hightlight--color-text-hover);
	background-color: var(--button--hightlight--color-background-hover);
}

.wp-block-button.is-style-button-highlight .wp-block-button__link:not(.has-background):hover {
	color: var(--button--hightlight--color-text-hover);
	background-color: var(--button--hightlight--color-background-hover);
}

.wp-block-button.is-style-button-light .wp-block-button__link:not(.has-background) {
	background-color: var(--global--color-background-light);
}

.wp-block-button.is-style-button-light .wp-block-button__link:not(.has-background):active {
	background-color: var(--global--color-background-mid);
}

.wp-block-button.is-style-button-light .wp-block-button__link:not(.has-background):hover {
	background-color: var(--global--color-background-mid);
}

.wp-block-button .is-style-squared .wp-block-button__link {
	border-radius: 0;
}

.is-style-outline .wp-block-button__link[style*='radius']:focus,
.wp-block-button a.wp-block-button__link[style*='radius']:focus {
	outline-offset: 2px;
	outline: 2px dotted var(--button--color-background);
}

.wp-block-buttons.is-full .wp-block-button {
	width: 100%;
}

.wp-block-buttons.is-full .wp-block-button .wp-block-button__link {
	width: 100%;
}

hr {
	border-style: none;
	border-bottom: 2px solid var(--main--color-text);
	clear: both;
	margin-left: auto;
	margin-right: auto;
	height: 2px;
	background-color: var(--main--color-text);
}

hr.wp-block-separator,
hr .wp-block-separator.is-style-wide {
	border-bottom: 2px solid var(--main--color-text);
	opacity: 1;
	height: 2px;
	background-color: var(--main--color-text);
	/**
		 * Block Options
		 */
}

.has-background hr.wp-block-separator,
[class*='background-color'] hr.wp-block-separator,
[style*='background-color'] hr.wp-block-separator,
.wp-block-cover[style*='background-image'] hr.wp-block-separator, .has-background
hr .wp-block-separator.is-style-wide,
[class*='background-color']
hr .wp-block-separator.is-style-wide,
[style*='background-color']
hr .wp-block-separator.is-style-wide,
.wp-block-cover[style*='background-image']
hr .wp-block-separator.is-style-wide {
	border-color: currentColor;
}

/*# sourceMappingURL=blocks.css.map */