// Breakpoints

:root {
	--button--border-radius: 5px;

	--font-weight-normal: 400;
	--font-weight-strong: 700;

	--button--padding-vertical: 10px;
	--button--padding-horizontal: calc(2 * var(--button--padding-vertical));
}
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// Font weights

// Padding & Margin

$padding: 1rem;
$block-margin: 3rem;

// Button styling

// Content
$content-width: 768px;

// Grid
$grid: grid;
$grid-width: $xl;
// $grid-gap: 32px;
// $base-margin: 16px; //
// $wrap_edge: $base-margin;
// $margin_2x: $base-margin * 2;
// $margin_4x: $base-margin * 4;

// Site Header
// $logo_width: 300px;
// $menu_width: $logo_width + $grid-gap;
// $persistant_mobile: false; // 49px
// $persistent_desktop: false; // 49px

// @import "../modules/helpers";
// @import "../vendor/_include-media";
// @import "../modules/base-styles";
