:root {
	--button--border-radius: 5px;
	--font-weight-normal: 400;
	--font-weight-strong: 700;
	--button--padding-vertical: 10px;
	--button--padding-horizontal: calc(2 * var(--button--padding-vertical));
}

:root {
	--global--color-yellow: #f6d15e;
	--global--color-dark-yellow: #eab204;
	--global--color-dark-gray: #1c1c1b;
	--global--color-gray: #807f7e;
	--global--color-light-gray: #f7f6f5;
	--global--color-lighter-gray: #ebe9e6;
	--global--color-background-body: #fff;
	--global--color-background-light: var(--global--color-light-gray);
	--global--color-background-mid: var(--global--color-lighter-gray);
	--global--color-background-dark: var(--global--color-dark-gray);
	--global--color-background-highlight: var(--global--color-yellow);
	--global--color-background-hr: var(--global--color-lighter-gray);
	--main--color-text: var(--global--color-dark-gray);
	--highlight--color-text: var(--global--color-dark-yellow);
	--button--color-background: var(--global--color-lighter-gray);
	--button--color-background-hover: var(--global--color-yellow);
	--button--color-text: var(--global--color-dark-gray);
	--button--color-text-hover: var(--global--color-dark-gray);
	--button--hightlight--color-background: var(--global--color-yellow);
	--button--hightlight--color-background-hover: var(--global--color-dark-yellow);
	--button--hightlight--color-text: var(--global--color-dark-gray);
	--button--hightlight--color-text-hover: var(--global--color-dark-gray);
	--link--color-text: var(--global--color-dark-yellow);
	--link--color-text-hover: var(--global--color-yellow);
}

.wp-block-button__link {
	color: var(--button--color-text);
	cursor: pointer;
	background-color: var(--button--color-background);
	-webkit-border-radius: var(--button--border-radius);
	-moz-border-radius: var(--button--border-radius);
	border-radius: var(--button--border-radius);
	text-align: center;
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);
	font-weight: var(--font-weight-strong);
	font-size: 0.9em;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: var(--font-weight-strong) !important;
	padding: var(--button--padding-vertical) var(--button--padding-horizontal) !important;
}

.wp-block-button__link:not(.has-background) {
	color: var(--button--color-text);
	background-color: var(--button--color-background);
}

.wp-block-button__link:focus {
	background: transparent;
	outline-offset: -6px;
	outline: 2px dotted currentColor;
}

.wp-block-button__link:focus:not(.has-background) {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background) !important;
}

.wp-block-button__link:not(.has-background) {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background) !important;
}

/**
 * Block Options
 */
[data-block].wp-block-buttons {
	margin-top: 0;
	margin-bottom: 0;
}

[data-block].wp-block-buttons.is-full .wp-block-button {
	width: 100%;
}

[data-block].wp-block-buttons.is-full .wp-block-button .wp-block-button__link {
	width: 100%;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
	color: var(--button--color-text-active) !important;
	background-color: var(--button--color-background-hover) !important;
	border-color: var(--button--color-background);
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
	color: var(--button--color-text-hover) !important;
	background-color: var(--button--color-background-hover) !important;
	border-color: var(--button--color-background);
}

.wp-block-button.is-style-outline .wp-block-button__link {
	color: var(--button--color-background);
	background: transparent;
}

.wp-block-button.is-style-outline .wp-block-button__link:active, .wp-block-button.is-style-outline .wp-block-button__link:hover {
	background-color: var(--button--color-background);
	color: var(--button--color-text);
	border-color: var(--button--color-background);
}

.wp-block-button.is-style-outline .wp-block-button__link.has-background {
	border-color: var(--button--color-background);
}

.wp-block-button.is-style-outline .wp-block-button__link.has-background:active, .wp-block-button.is-style-outline .wp-block-button__link.has-background:hover {
	background-color: var(--button--color-background) !important;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-background:not(.has-text-color) {
	color: var(--global--color-dark-gray);
}

.wp-block-button.is-style-outline .wp-block-button__link.has-background.has-gray-background-color:not(.has-text-color), .wp-block-button.is-style-outline .wp-block-button__link.has-background.has-dark-gray-background-color:not(.has-text-color), .wp-block-button.is-style-outline .wp-block-button__link.has-background.has-black-background-color:not(.has-text-color) {
	color: white;
}

.is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-white-background-color, .is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-green-background-color, .is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-blue-background-color, .is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-purple-background-color, .is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-red-background-color, .is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-orange-background-color, .is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-yellow-background-color {
	color: var(--global--color-dark-gray);
}

.wp-block-button.is-style-outline .wp-block-button__link.has-text-color {
	border-color: currentColor;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-text-color:active, .wp-block-button.is-style-outline .wp-block-button__link.has-text-color:hover {
	color: var(--button--color-text) !important;
	border-color: var(--button--color-background);
}

.wp-block-button.is-style-button-highlight .wp-block-button__link:not(.has-background) {
	color: var(--button--hightlight--color-text);
	background-color: var(--button--hightlight--color-background) !important;
	width: 100% !important;
}

.wp-block-button.is-style-button-highlight .wp-block-button__link:not(.has-background):active {
	color: var(--button--hightlight--color-text-hover);
	background-color: var(--button--hightlight--color-background-hover) !important;
}

.wp-block-button.is-style-button-highlight .wp-block-button__link:not(.has-background):hover {
	color: var(--button--hightlight--color-text-hover);
	background-color: var(--button--hightlight--color-background-hover) !important;
}

.wp-block-button.is-style-button-light .wp-block-button__link:not(.has-background) {
	background-color: var(--global--color-background-light) !important;
}

.wp-block-button.is-style-button-light .wp-block-button__link:not(.has-background):active {
	background-color: var(--global--color-background-mid) !important;
}

.wp-block-button.is-style-button-light .wp-block-button__link:not(.has-background):hover {
	background-color: var(--global--color-background-mid) !important;
}

.wp-block-button.is-style-squared {
	border-radius: 0;
}

.is-style-outline .wp-block-button__link[style*='radius'],
.wp-block-button__link[style*='radius'] {
	outline-offset: 2px;
}

hr {
	border-style: none;
	border-bottom: 2px solid var(--main--color-text) !important;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	height: 2px !important;
	background-color: var(--main--color-text) !important;
}

hr.wp-block-separator,
hr .wp-block-separator.is-style-wide {
	border-bottom: 2px solid var(--main--color-text) !important;
	opacity: 1;
	height: 2px !important;
	background-color: var(--main--color-text) !important;
}

.has-background hr.wp-block-separator,
[class*='background-color'] hr.wp-block-separator,
[style*='background-color'] hr.wp-block-separator,
.wp-block-cover[style*='background-image'] hr.wp-block-separator, .has-background
hr .wp-block-separator.is-style-wide,
[class*='background-color']
hr .wp-block-separator.is-style-wide,
[style*='background-color']
hr .wp-block-separator.is-style-wide,
.wp-block-cover[style*='background-image']
hr .wp-block-separator.is-style-wide {
	border-color: currentColor;
}

.block-editor__typewriter html {
	line-height: 1.8em;
}

.block-editor__typewriter body {
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 1.125rem;
	line-height: 1.8em;
	color: var(--main--color-text);
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.block-editor__typewriter .wp-block a {
	color: var(--wp--style--color--link, var(--global--color-primary));
}

.block-editor__typewriter .wp-block a:hover {
	text-decoration-style: dotted;
}

.block-editor__typewriter .wp-block a:focus {
	outline: 2px solid var(--wp--style--color--link, var(--global--color-primary));
	text-decoration: none;
}

.block-editor__typewriter .has-background .has-link-color a,
.block-editor__typewriter .has-background.has-link-color a {
	color: var(--wp--style--color--link, var(--global--color-primary));
}

.block-editor__typewriter button,
.block-editor__typewriter a {
	cursor: pointer;
}

.block-editor__typewriter .full-width-content .editor-styles-wrapper .wp-block,
.block-editor__typewriter .full-width-content .editor-styles-wrapper .editor-post-title__block.wp-block,
.block-editor__typewriter .full-width-content
.editor-styles-wrapper
.wp-block-group:not(.narrow)
.wp-block-group__inner-container {
	max-width: 1280px;
}

.has-yellow-color {
	color: #f6d15e;
}

.has-yellow-background-color {
	background-color: #f6d15e;
}

.has-dark-yellow-color {
	color: #eab204;
}

.has-dark-yellow-background-color {
	background-color: #eab204;
}

.has-dark-gray-color {
	color: #1c1c1b;
}

.has-dark-gray-background-color {
	background-color: #1c1c1b;
}

.has-mid-gray-color {
	color: #807f7e;
}

.has-mid-gray-background-color {
	background-color: #807f7e;
}

.has-light-gray-color {
	color: #f7f6f5;
}

.has-light-gray-background-color {
	background-color: #f7f6f5;
}

.has-lighter-gray-color {
	color: #ebe9e6;
}

.has-lighter-gray-background-color {
	background-color: #ebe9e6;
}

/*# sourceMappingURL=editor-style.css.map */