.archive,
.blog,
.search {
	& > .grid-container {
		max-width: none;
	}
}

.archive .post,
.blog .post,
.search .post {
	max-width: none;
	background-color: var(--global--color-background-light);

	& .inside-article {
		max-width: 1280px;
		margin: 0 auto;
		display: grid;
		grid-template-areas:
			'image'
			'title'
			'content';
	}

	& .post-image {
		width: 100%;
		grid-area: image;

		& img {
			width: 100%;
			height: auto;
		}
	}

	& .entry-title {
		& a:hover {
			color: var(--link--color-text-hover);
		}
	}

	& .entry-header {
		padding: 0 $padding;
		grid-area: title;
	}
	& .entry-content,
	.entry-summary {
		padding: $padding;
		margin-top: 0;
		grid-area: content;
	}

	& .entry-meta {
		margin-top: 0;
		justify-self: end;
		margin-top: 2rem;

		grid-area: image;

		& .gp-icon {
			display: none;
		}
		a {
			background-color: var(--button--hightlight--color-background);
			color: var(--button--hightlight--color-text);
			padding: 0.2rem 1rem;
			z-index: 2;
			font-weight: var(--font-weight-strong);
			text-transform: uppercase;
			font-size: 0.8em;
			&:hover {
				background-color: var(--button--hightlight--color-background-hover);
				color: var(--button--hightlight--color-text-hover);
			}
		}
	}

	& .read-more {
		width: 100%;
	}

	// 	margin-bottom: $block-margin;

	// 	&-thumbnail img {
	// 		height: 100%;
	// 		width: 100%;
	// 	}

	// 	&-content {
	// 		padding: $padding;
	// 		display: flex;
	// 		flex-direction: column;
	// 		justify-content: center;
	// 	}

	// 	&-title {
	// 		text-transform: lowercase;
	// 	}

	// 	&-excerpt {
	// 		padding: $padding 0px;
	// 		margin-bottom: 0px;
	// 	}

	// 	&-arrow {
	// 		display: none;
	// 	}
	// }
}

// Tablet+
@media only screen and (min-width: 1024px) {
	.archive .post,
	.blog .post,
	.search .post {
		& .inside-article {
			grid-template-columns: 1fr 1fr;
			align-items: start;
			grid-template-areas:
				'title image'
				'content image';

			& .entry-header {
				grid-area: title;
				align-self: end;
				margin-right: 50px;
			}
			& .entry-content,
			.entry-summary {
				grid-area: content;
				margin-right: 50px;
			}
			& .post-image {
				grid-area: image;
				//height: 100%; // foto wordt dan 650 hoog..

				margin-bottom: -10px;
				& img {
					height: 100%;
				}
			}

			& .entry-meta {
				grid-area: image;
			}
		}
	}

	// .inside-page-hero {
	// 	display: flex;
	// 	flex-direction: row-reverse;
	// 	max-width: $xxl;
	// 	margin: 0 auto;
	// }

	// .page-hero {
	// 	&-content {
	// 		padding-right: 2rem;
	// 		width: 66%;
	// 	}

	// 	&-arrow {
	// 		margin-top: 1rem;
	// 		display: block;
	// 		height: 4rem;
	// 		color: $yellow;

	// 		&:hover {
	// 			color: $dark-yellow;
	// 		}
	// 	}

	// 	&-down {
	// 		width: auto;
	// 		margin: 0 auto;
	// 	}
	// }
}

@media only screen and (min-width: 1280px) {
	// .page-hero {
	// 	&-content {
	// 		padding-right: 5rem;
	// 		width: 33%;
	// 	}
	// }
}
