::-moz-selection {
	/* Code for Firefox */
	color: black;
	background: var(--global--color-background-highlight);
}

::selection {
	color: black;
	background: var(--global--color-background-highlight);
}

body {
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

// Links
a {
	color: var(--link--color-text);
}
a:hover {
	color: var(--link--color-text-hover);
}

hr {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

ol,
ul {
	margin: 0 0 1.5em 2em;
	list-style-type: square;
}

form.fluent_form_1 .wpf_has_custom_css.ff-btn-submit {
	text-align: center;
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);
	font-weight: var(--font-weight-strong);
	font-size: 0.9em;
}

.fluentform .ff-btn:hover {
	opacity: 1 !important;
}

.entry-content .alignwide {
	max-width: 1245px;
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
}

.entry-content .alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}
